@media only screen and (max-width:480px)
{
    #slider-image{max-width: 100%;}
    #flash-ad {display: none;}

    .navbar{
        overflow: hidden;
        background-color: #d77a61;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: medium;
      }
      
      .navbar a{
        float: left;
        background-color:#d77a61;
        color:#223843;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .navbar a:hover{
        background-color: #e09c89;
        color:#223843;
      }
      
      .navbar a.active{
        background-color:#3d6178;
        color:#dbd3d8;
      }
      
      .body{
        background-color: #e09c897c;
      }
      
      .p1 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #223843;
      
      }
      .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#223843;
        color: white;
        text-align: center;
      }
      
      .leftfooter {
        /*margin-left: 20%;*/
        text-align: center;
        width: 20%;
      }
      .rightfooter {
        float: right;
        margin-right: 20%;
        text-align: center;
        width: 20%;
      }
      .centerfooter {
        text-align: center
      }
      .red {
        color: red;
      }
      .footercategory {
        color: #e09c89;
      }
      .footercategory2 {
        color: #2f64cd;
      }
      .footercategory2:link {
       color: rgb(121, 140, 252)
      }
      .footercategory2:hover {
        color: rgb(171, 184, 255);
      }
      .footercategory2:visited {
        color: aqua;
      }
      .footercategory2:active {
        color: brown
      }
      
      .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 72px;
        text-align: center;
        font-family: 'Lucida Handwriting', sans-serif;
      }
      .titlecontainer {
        position: relative;
        text-align: center;
        color: white;
      }
      .titleimage {
        width: 100%;
        filter: brightness(50%);
        }
      .caption {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        text-align: center;
        font-family: 'Lucida Handwriting', sans-serif;
      }
      .menucontainer1 {
        position: relative;
        /*padding: 0;*/
        padding-top: 300px;
        width: 1160px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
      }
      .menucontent {
        margin-top: 300px;
        opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        color: #223843;
        background-color: rgba(200, 200, 200, 0.5);
        width: 1160px;
        height: 774px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }
      .menucontainer1 .menucontent:hover {
        opacity: 1;
      }
      .menucontainer1 .menucontent .menutext1 {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .menucontainer1 .menucontent:hover .menutext1 {
        opacity: 1;
        transform: translateY(387px);
        -webkit-transform: translateY(387px);
      }
      
      .image_mozz {
        position: fixed;
        top: 10%;
        left: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_panini {
        position: fixed;
        top: 40%;
        left: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_steaksandwich {
        position: fixed;
        top: 10%;
        right: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_cannoli {
        position: fixed;
        top: 40%;
        right: 3%;
        height: 30%;
        width: 25%;
      }
      
      /* Review Added 11/17 Eric*/
      .image_review {
        position: fixed;
        top: 15%;
        right: 3%;
        height: 75%;
        width: 50%;
      }
      .div_review{
        width: 40%;
      }
      
      /* Menu Added 11/17 Eric */
      .div_menu{
        text-align: center;
      }
      
      .ul_menu{
        display:inline-block; 
        text-align: left;
      }
      
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      
      .column {
        float: center;
        padding: 5px;
      }
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
}

@media only screen and (min-width:481px) and (max-width:768px)
{
    .navbar{
        overflow: hidden;
        background-color: #d77a61;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: medium;
      }
      
      .navbar a{
        float: left;
        background-color:#d77a61;
        color:#223843;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .navbar a:hover{
        background-color: #e09c89;
        color:#223843;
      }
      
      .navbar a.active{
        background-color:#3d6178;
        color:#dbd3d8;
      }
      
      .body{
        background-color: #e09c897c;
      }
      
      .p1 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #223843;
      
      }
      .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#223843;
        color: white;
        text-align: center;
      }
      
      .leftfooter {
        /*margin-left: 20%;*/
        text-align: center;
        width: 20%;
      }
      .rightfooter {
        float: right;
        margin-right: 20%;
        text-align: center;
        width: 20%;
      }
      .centerfooter {
        text-align: center
      }
      .red {
        color: red;
      }
      .footercategory {
        color: #e09c89;
      }
      .footercategory2 {
        color: #2f64cd;
      }
      .footercategory2:link {
       color: rgb(121, 140, 252)
      }
      .footercategory2:hover {
        color: rgb(171, 184, 255);
      }
      .footercategory2:visited {
        color: aqua;
      }
      .footercategory2:active {
        color: brown
      }
      
      .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 72px;
        text-align: center;
        font-family: 'Lucida Handwriting', sans-serif;
      }
      .titlecontainer {
        position: relative;
        text-align: center;
        color: white;
      }
      .titleimage {
        width: 100%;
        filter: brightness(50%);
        }
      .caption {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        text-align: center;
        font-family: 'Lucida Handwriting', sans-serif;
      }
      .menucontainer1 {
        position: relative;
        /*padding: 0;*/
        padding-top: 300px;
        width: 1160px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
      }
      .menucontent {
        margin-top: 300px;
        opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        color: #223843;
        background-color: rgba(200, 200, 200, 0.5);
        width: 1160px;
        height: 774px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }
      .menucontainer1 .menucontent:hover {
        opacity: 1;
      }
      .menucontainer1 .menucontent .menutext1 {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .menucontainer1 .menucontent:hover .menutext1 {
        opacity: 1;
        transform: translateY(387px);
        -webkit-transform: translateY(387px);
      }
      
      .image_mozz {
        position: fixed;
        top: 10%;
        left: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_panini {
        position: fixed;
        top: 40%;
        left: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_steaksandwich {
        position: fixed;
        top: 10%;
        right: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_cannoli {
        position: fixed;
        top: 40%;
        right: 3%;
        height: 30%;
        width: 25%;
      }
      
      /* Review Added 11/17 Eric*/
      .image_review {
        position: fixed;
        top: 15%;
        right: 3%;
        height: 75%;
        width: 50%;
      }
      .div_review{
        width: 40%;
      }
      
      /* Menu Added 11/17 Eric */
      .div_menu{
        text-align: center;
      }
      
      .ul_menu{
        display:inline-block; 
        text-align: left;
      }
      
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      
      .column {
        float: center;
        padding: 5px;
      }
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
}

@media only screen and (min-width:769px)
{
    .navbar{
        overflow: hidden;
        background-color: #d77a61;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: medium;
      }
      
      .navbar a{
        float: left;
        background-color:#d77a61;
        color:#223843;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .navbar a:hover{
        background-color: #e09c89;
        color:#223843;
      }
      
      .navbar a.active{
        background-color:#3d6178;
        color:#dbd3d8;
      }
      
      .body{
        background-color: #e09c897c;
      }
      
      .p1 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #223843;
      
      }
      .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:#223843;
        color: white;
        text-align: center;
      }
      
      .leftfooter {
        /*margin-left: 20%;*/
        text-align: center;
        width: 20%;
      }
      .rightfooter {
        float: right;
        margin-right: 20%;
        text-align: center;
        width: 20%;
      }
      .centerfooter {
        text-align: center
      }
      .red {
        color: red;
      }
      .footercategory {
        color: #e09c89;
      }
      .footercategory2 {
        color: #2f64cd;
      }
      .footercategory2:link {
       color: rgb(121, 140, 252)
      }
      .footercategory2:hover {
        color: rgb(171, 184, 255);
      }
      .footercategory2:visited {
        color: aqua;
      }
      .footercategory2:active {
        color: brown
      }
      
      .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 72px;
        text-align: center;
        font-family: 'Lucida Handwriting', sans-serif;
      }
      .titlecontainer {
        position: relative;
        text-align: center;
        color: white;
      }
      .titleimage {
        width: 100%;
        filter: brightness(50%);
        }
      .caption {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        text-align: center;
        font-family: 'Lucida Handwriting', sans-serif;
      }
      .menucontainer1 {
        position: relative;
        /*padding: 0;*/
        padding-top: 300px;
        width: 1160px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
      }
      .menucontent {
        margin-top: 300px;
        opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        color: #223843;
        background-color: rgba(200, 200, 200, 0.5);
        width: 1160px;
        height: 774px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }
      .menucontainer1 .menucontent:hover {
        opacity: 1;
      }
      .menucontainer1 .menucontent .menutext1 {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .menucontainer1 .menucontent:hover .menutext1 {
        opacity: 1;
        transform: translateY(387px);
        -webkit-transform: translateY(387px);
      }
      
      .image_mozz {
        position: fixed;
        top: 10%;
        left: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_panini {
        position: fixed;
        top: 40%;
        left: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_steaksandwich {
        position: fixed;
        top: 10%;
        right: 3%;
        height: 30%;
        width: 25%;
      }
      
      .image_cannoli {
        position: fixed;
        top: 40%;
        right: 3%;
        height: 30%;
        width: 25%;
      }
      
      /* Review Added 11/17 Eric*/
      .image_review {
        position: fixed;
        top: 15%;
        right: 3%;
        height: 75%;
        width: 50%;
      }
      .div_review{
        width: 40%;
      }
      
      /* Menu Added 11/17 Eric */
      .div_menu{
        text-align: center;
      }
      
      .ul_menu{
        display:inline-block; 
        text-align: left;
      }
      
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      
      .column {
        float: center;
        padding: 5px;
      }
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
 
}
