.navbar a{
    float: left;
    color:#d77a61;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a.active{
    background-color:#223843;
    color:#dbd3d8;
  }
