.navbar a{
    float: left;
    color:rgba(201, 58, 149, 0.629);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a.active{
    background-color:gray;
    color:white;
  }
